@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kdam+Thmor+Pro&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital@1&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*Mini Framework*/
html body{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    height: 100%;
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    height: auto;
    padding: 0%;
    margin: 0%;
}
.text-mi{
    font-size: 27px;
}
.espaco1{

    margin-bottom: 20%; 
}
.espaco2{
  margin-left: 30%; 
  margin-bottom: 30%;
}

.max-width{
    width: 100%;
    min-height: 100vh;
}
.sobre2{
margin-top: 5%;
margin-left: 15%;
padding: 0%;
margin-right: 5%;
}
.texto{
   margin-top: 40%;
    margin-left: 33%;
}
.titles{
    text-align: right;
    display: flex;
    margin-left: 50%;
    margin-top: 5%;
    margin-bottom: 0%;
    
}
.bg{
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    height: auto;
}

.container{
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container2{
  
    margin-top: 6%;
}
.fritos{
    margin-top: 7%;
}
.logo-fritos{margin-left: 35%;
       font-size: 40px;
   font-weight: 600;
}
.salgados{  margin-top: 20%;
  margin-bottom: 80%;}
.espaco-nosS{
    margin-top: 0%;
}
.meio{  margin-top: 29%;
  margin-bottom: 55%;}
  
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 2%;
    background-color: #dbd5c174;
    background-size: 10px;
    border-radius: 0 0 50px 50px;
}

.logo{
    background: url(../images/logo.png) no-repeat;
    background-size: cover;
    margin-top: auto;
    width: 160px;
    height: 160px;
    position: relative;
    border-radius: 0 0 50px 50px;
    z-index: 9;
}
.local{
    background: url(../images/local.png) no-repeat;
    background-size: cover;
    margin-top: auto;
    width: 1250px;
    height: 650px;
    position: relative;
    z-index: 9;
     z-index: 1;
    border-radius: 5px 5px 20px 20px;
}

.salgadaria{
    background: url(../images/vs1.png) no-repeat;
    background-size: cover;
    width: 430px; /* largura da imagem */
    height: 330px; /* altura da imagem */
  
}
.kuat{
    background: url(../images/vs2.avif) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */
  margin-top: 13%;
}
.conjunto{
    background: url(../images/Salgados/conjunto.jpeg) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */
  margin-top: 13%;
}
.explicacao{
      margin-top: 16%;
}
.coxinha{
    background: url(../images/Salgados/coxinha.jpg) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */

}
.bolinha{
    background: url(../images/Salgados/bolinha-de-queijo.jpg) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */

}
.presunto{
    background: url(../images/Salgados/presunto.jpg) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */
 
}
.alho{
    background: url(../images/Salgados/alho.jpg) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */
}
.milho{
    background: url(../images/Salgados/milho.jpg) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */
}
.calabresa{
    background: url(../images/Salgados/calabresa.png) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */
}
.salsicha{
    background: url(../images/Salgados/salsicha.jpg) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */
}
.croquete{
    background: url(../images/Salgados/croquete.jpg) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */
}
.kibe{
    background: url(../images/Salgados/kibe.jpeg) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */
}
.letrero{margin-top: 50;}
.assadao{margin-bottom: 20%;}

.pastel{
    background: url(../images/pastel.jpg) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */
 margin-left: 15%;
}

.jardineira{
    background: url(../images/assado/jardineira.jpg) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */

}
.misto{
    background: url(../images/assado/mistao.jpeg) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */

}
.hamburg{
    background: url(../images/assado/Hamburguer.jpg) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */

}
.carne{
    background: url(../images/assado/carne.jpeg) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */

}
.frango{
    background: url(../images/assado/frango.jpg) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */

}
.calabresa{
    background: url(../images/assado/calabresa.jpg) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */

}
.salsicha{
    background: url(../images/assado/salsicha.jpg) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */

}
.palmito{
    background: url(../images/assado/palmito.jpg) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */

}
.brocolis{
    background: url(../images/assado/brocolis.jpg) no-repeat;
    background-size: cover;
    width: 450px; /* largura da imagem */
    height: 350px; /* altura da imagem */

}




.text-md{
   font-size: 26px;
   margin-top: 5%;
}

.text-pq{
   font-size: 14px;
}

.text-title{
   font-size: 30px;
   font-weight: 600;
}

/*Cores de Texto*/

.color-laranja{
    color: #fa5e00;
}

.color-cinza-1{
    color: #2b2b2b
}

.color-cinza-2{
    color: #545454;
}

/*Chamada*/

.call{
    display: flex;
    align-items: center;
    margin-top: 120px;
}

.left{
    width: 50%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

.right{
    width: 50%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

/*Imagem*/

img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

/*botão*/

button{
    background: #fa5e00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: all .3s ease-in-out;
}
button:hover{
    background: #fff;
    border: 1px solid #fa5e00;
    color: #fa5e00;
}

/*content*/

.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    min-height: 800px;
    padding: 0 2%;
}

.down{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 300px;
}

/*Título*/

.titulo{
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
   
}

/*Box*/

.box{
    width: 25%;
    min-height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2%;
}

/*Info*/

.info{
    display: flex;
}

/*desktop-menu*/

.desktop-menu ul{
    display: flex;
}

.desktop-menu ul li{
    padding: 0 25px;
    list-style-type: none;
}

.desktop-menu ul li a{
    text-decoration: none;
    color: #545454;
    font-size: 20px;
    font-weight:bold ;
}

.desktop-menu ul li a:hover{
    color: #fa5e00;
    font-weight: 600;
}

/*button to top*/
#back-to-top{
    position: fixed;
    bottom: 2px;
    right: 10px;
    padding: 5px 10px;
    background-color: #2b2b2b;
}

/*scrollbar Personalisada muito fera*/

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

body::-webkit-scrollbar-thumb {
    background: #2b2b2b; 
    border-radius: 20px;
    border:1px solid;
}

/*Home*/ 


#home .container{
    justify-content: flex-start;
    flex-direction: column;
}

#home .right{
    flex-direction: column;
    align-items: flex-end;
}

#home .right h1{
    text-align: end;
}

#home .right h2{
    text-align: end;
    margin-top: 20px;
}

#home .right p{
    text-align: end;
    margin-top: 20px;
}

#home .right button{
    margin-top: 30px;
}

/*About*/

#about .left{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 2%;
}

#about .left span{
margin-top: 20px;
}

#about .left h2{
margin-top: 20px;
}

#about .left p{
    margin-top: 20px;
}

#about .left button{
    margin-top: 20px;
}

#about img{
    border-radius: 30px;
}

/*Services*/

#services .box i{
    border: 4px solid #2b2b2b;
    border-radius: 30px;
    padding: 30px;
    margin-top: 10px;
}

#services .box h2{
    margin-top: 30px;
    text-align: center;
}

#services .box p{
    margin-top: 30px;
    text-align: center;
}

/*Footer*/

footer .container{
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .container img{
    margin-bottom: 6px;
    width: 120px;
    object-fit: contain;
    border: 4px solid 36#a28f8f;
    border-radius: 100px;
}

footer .container p{
    font-weight: 600;
}